<h2>Overview</h2>
<p>
The Asset Hierarchy API enables you to define physical hierarchical links betwen assets.
This information is used to build Rack and Blade views.

Please note this API is still experimental, and lacks complete tests and HTTP safety checks.
</p>

<section id="api-asset-hierarchy-add-section">
{% include api_asset_hierarchy_add.html %}
</section>
<section id="api-asset-hierarchy-remove-section">
{% include api_asset_hierarchy_remove.html %}
</section>
<section id="api-asset-hierarchy-list-parents-section">
{% include api_asset_hierarchy_list_parents.html %}
</section>
<section id="api-asset-hierarchy-list-children-section">
{% include api_asset_hierarchy_list_children.html %}
</section>
<section id="api-asset-hierarchy-list-nodes-section">
{% include api_asset_hierarchy_list_nodes.html %}
</section>

